In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Correlation Assignment D11.ipynb',
 'data_dictionary.xlsx',
 'general_data.csv',
 'HR Analytics Case Study.txt',
 'Untitled.ipynb']

In [2]:
import pandas as pd
from scipy.stats import pearsonr

In [3]:
dataset=pd.read_csv("general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset["Attrition"]=dataset.Attrition.map({"Yes":1,"No":0})

In [5]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Correlation Analysis
IF p<0.05 we reject Ho and accept H1

# 1. Age vs Attrition Hypothesis
Ho = There is no correlation between Age and Attrition H1 = There is corelation between Age and Attrition

In [8]:
stats,p=pearsonr(dataset.Attrition,dataset.Age)
print(stats,p)

-0.15920500686577976 1.996801615886744e-26

# 2. Education vs Attrition Hypothesis
Ho = There is no correlation between Education and Attrition H1 = There is corelation between Education and Attrition

In [9]:
stats,p=pearsonr(dataset.Attrition,dataset.Education)
print(stats,p)

-0.01511116771096891 0.3157293177117888

# 3. DistanceFromHome vs Attrition Hypothesis
Ho = There is no correlation between DistanceFromHome and Attrition H1 = There is corelation between DistanceFromHome and Attrition

In [10]:
stats,p=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stats,p)

-0.009730141010179667 0.5182860428050771

# 4.PercentSalaryHike vs Attrition Hypothesis
Ho = There is no correlation between PercentSalaryHike and Attrition H1 = There is corelation between PercentSalaryHike and Attrition

In [11]:
stats,p=pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print(stats,p)

0.032532594891053535 0.030743386433355353

# 5.YearsSinceLastPromotion vs Attrition Hypothesis
Ho = There is no correlation between YearsSinceLastPromotion and Attrition H1 = There is corelation between YearsSinceLastPromotion and Attrition

In [12]:
stats,p=pearsonr(dataset.Attrition,dataset.YearsSinceLastPromotion)
print(stats,p)

-0.033018775142584444 0.028330336189402967