Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
Mail_address = input("Enter the mail id: \n")

X=(Mail_address.find("@"))
Y=(Mail_address.find("."))

print("This Mail Id belongs to :\n%s"%(Mail_address[X+1:Y]))

Enter the mail id:
sharvarighate@videojet.com
This Mail Id belongs to :
videojet

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [2]:
name="Sharvari,Nikesh,Ghate,Karuna"
x=""
y= name.split(",")
z= sorted(y)
for i in z:
    x = x + i + ","

print(x[0:-1])

Ghate,Karuna,Nikesh,Sharvari

Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [11]:
fitness = {"yoga" , "meditation" , "zumba"}
print("yoga" in fitness)
fitness.add("weighttraining")
print(fitness)
fitness.update(["orange", "mango", "grapes"])
print(fitness)
print(len(fitness))
fitness.remove("grapes")
print(fitness)
fitness.clear()
print(fitness)
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

True
{'zumba', 'meditation', 'yoga', 'weighttraining'}
{'orange', 'zumba', 'mango', 'grapes', 'meditation', 'weighttraining', 'yoga'}
7
{'orange', 'zumba', 'mango', 'meditation', 'weighttraining', 'yoga'}
set()
{1, 2, 3, 'a', 'c', 'b'}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [14]:
userinput=input("Enter numbers separated by a space.\n")
inputlist= userinput.split(" ")
updatedinputlist=[]
for i in inputlist:
    updatedinputlist.append(int (i))

for i in range(1, max(updatedinputlist)):
    if i not in updatedinputlist:
        print(i,end=" ")

Enter numbers separated by a space.
2 3 4 6 8 9
1 5 7

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [17]:
num_input = input("Enter the List of numbers separated by space:\n")

num_list = num_input.split(" ")

new_list=[int(i) for i in num_list]
            
output_list=[]
for i in new_list:
    if i not in output_list:
        output_list.append(i)
        print(i,end=" ")

Enter the List of numbers separated by space:
2 3 4 5 5 7 11
2 3 4 5 7 11